doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap', rel='stylesheet')
  body
    style
      include style.css
    nav#navbar
      ul
        li#thegym
          | THEG
          span Y
          | M
        li Home
        li Feature
        li  Pricing 
    div
      #body-items
        #line
          p(style='color:rgb(189, 189, 189); font-size: 40px;  font-weight:bolder;')
            span(style="color: rgb(13, 212, 179) ; font-family: 'Roboto Mono', monospace; font-size: 35px;  font-weight:bolder") BUILD 
            |YOUR BODY 
            br
            |  
            span(style="color: rgb(13, 212, 63) ; font-family: 'Roboto Mono', monospace; font-size: 40px;  font-weight:bolder") TRANSFORM
            |  YOUR LIFE
          p(style='color: white;') Empower yourself to make the changes you need to make.
          a(href='#form')
            button#fill LETS GET STARTED 
          |  
          .arrow
            span
            span
            span
        #form
          form.row.g-2(action='/', method='post')
            h2(style='color: white; font-size: 1.5rem;')
              | Get the Gym membersheep 
              span(style='color: rgb(13, 212, 179); font-size:1.8em') 40% off
              |  
              br
              |  Fill the form 
              span(style='color:  rgb(13, 212, 63);') Now .!
            .row.g-2
              .col-6
                label.form-label(for='inputEmail4', style='color: rgb(189, 189, 189);') First Name
                input.form-control(type='text', name='first_name', placeholder='First name', aria-label='First name')
              .col-6
                label.form-label(for='inputEmail4', style='color: rgb(189, 189, 189);') Last Name
                input.form-control(type='text', name='last_name', placeholder='Last name', aria-label='Last name')
            .col-12
              label.form-label(for='inputEmail4', style='color: rgb(189, 189, 189);') Email
              input#inputEmail4.form-control(name='email', type='email', placeholder='xyz@gmail.com')
            .col-12
              label.form-label(for='inputAddress', style='color: rgb(189, 189, 189) ;') Address
              input#inputAddress.form-control(type='text', name='address', placeholder='1234 Main St')
            .col-6
              label.form-label(for='inputCity', style='color: rgb(189, 189, 189)') City
              input#inputCity.form-control(type='text', name='city')
            .col-md-6
              label.form-label(for='inputZip', style='color: rgb(189, 189, 189)') Mobile Number
              input#inputZip.form-control(type='text', placeholder='+91(72XXX-XXX55)', name='mobile')
            .col-md-6
              label.form-label(for='inputState', name='gender', style='color: rgb(189, 189, 189)') Gender
              select#inputState.form-select(name='gender')
                option(selected='') Choose...
                option Male
                option Female
                option Other
            .col-6
              label.form-label(for='inputCity', style='color: rgb(189, 189, 189)') Age
              input#inputCity.form-control(type='text', placeholder='XX', name='age')
            .col-12(style='color: rgb(189, 189, 189)')
              .form-check
                input#gridCheck.form-check-input(type='checkbox')
                label.form-check-label(for='gridCheck')
                  |  Get any update on Email
            .col-12
              button#submit SUBMIT
      footer
        p(style='color: rgb(207, 207, 207);') --This WebSite is created by Vivek Singh--